USE [sara7193]
GO
/****** Object:  StoredProcedure [dbo].[p_patientInsert]    Script Date: 4/11/2026 12:44:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[p_patientInsert] 
@fName nvarchar(50), @lName nvarchar(50), @Age int, @countryId int, @email nvarchar(50)
as 

--step 1 insert new data
insert patientInfo(fName, lName, Age, countryId, email)
values (@fName, @lName, @Age, @countryId, @email)

--step 2 show patient info
select * from v_patientInfo

--step 3 send email to user informing him that he already registred 
-- write code to send email to the user
