USE [term3_Sep152024]
GO
/****** Object:  Table [dbo].[question]    Script Date: 10/9/2024 3:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[questionId] [int] IDENTITY(1,1) NOT NULL,
	[question] [nvarchar](50) NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questionAnswer]    Script Date: 10/9/2024 3:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questionAnswer](
	[questionAnswerId] [int] IDENTITY(1,1) NOT NULL,
	[questionId] [int] NULL,
	[questionAnswer] [nvarchar](50) NULL,
 CONSTRAINT [PK_questionAnswer] PRIMARY KEY CLUSTERED 
(
	[questionAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_questionAnswer]    Script Date: 10/9/2024 3:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[v_questionAnswer] as 
select q.questionid, question, questionAnswer
from question q inner join questionAnswer qa on q.questionId=qa.questionId
GO
/****** Object:  Table [dbo].[country]    Script Date: 10/9/2024 3:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](50) NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userQuestionanswer]    Script Date: 10/9/2024 3:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userQuestionanswer](
	[userQuestionanswerId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[questionId] [int] NULL,
	[questionAnswer] [nvarchar](max) NULL,
 CONSTRAINT [PK_userQuestionanswer] PRIMARY KEY CLUSTERED 
(
	[userQuestionanswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
